<html>
    <head>
        <title>Upcoming Events</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Count It Down</a></h1>    
        </div>
        <div>
            <h2>Your Upcoming Events</h2>
        </div>
        <div>
            
            
            {% for event in events%}
                <div>
                    <p>{{event.name}}</p>
                    
                    <p>{{event.time_until_event}} days left</p>
                    
                    <p>Date: {{event.time}}</p>
                </div>
            {% endfor %}
        </div>
        

    </body>
</html>