{% extends 'timer/base.html' %}


{% block content %}
    <section class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">                   
            <h2>Your Upcoming Events</h2>
            </div>
            <div class="row justify-content-center">
            <h3>Be Prepared</h3>
            </div>
        </div>    
    </section>

    <section class="container">        
        <div class="row">
                        
           {% for event in events%}
                <span class="col-sm-4 border border-info">
                    <div class="text aligned-center">
                                           
                            <h3><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></h3>
                    
                            <p>{{event.time_until_event}} days left</p>
                    
                            <p>Date: {{event.time}}</p>
                        
                    </div>
                    
                </span>
            {% endfor %}
            
        </div>
    </section>
{% endblock %}
